@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
html{
	scroll-behavior: smooth;

}
body {
	background-color: #acafb1;
	color: white;
}
.container {
	background-color: #343434;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 14px;
	box-shadow: 0px 7px 36px 14px rgb(0 0 0 / 80%);
}
.header {
	background-image: url(../img/bg.jpeg);
	padding: 20px 0;
	position: relative;
}
.menu__burger {
    display: none;
}
.name {
	display: none;
}
.wrapper {
	width: 85%;
    margin: 0 auto;
}
.wrapper-about {
	display: flex;
	
    margin: 0 auto;
}
.header-nav {
	display: flex;
    justify-content: flex-end;
    padding-inline-start: 0;
	margin: 0 auto;
}
.header-nav li {
    list-style: none;
    letter-spacing: 2px;
}
.header-nav li a {
    color: #ffffff;
    text-decoration: none;
}
.header-nav li a:hover {
    color: #969696;
    
}
.aside {
	max-width: 40%;
	background-color: #343434;
	color: white;
}
.aside__img {
	width: 100%;
	padding-top: 5px;
	position: relative;
	z-index: 2;
}
.aside h2 {
	padding-left:10px;
	
}
ul li {
	padding: 5px 0px;
	margin-left: 30px;
}
p {
	line-height: 1.7;
	margin: 0;
}
h3 {
	text-transform: uppercase;

}

.exp-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px 36px;
}
.exp-wrapper ul {
	color: #ababab;
}
.exp-wrapper a {
	color: #00b8d1;
	text-transform: uppercase;
}

.exp-subtitle {
    width: 300px;
    
	color: #00b8d1;
    text-transform: uppercase;
	font-size: 12px;
}
.exp-title {
    width: 300px;
    
	padding-top: 13px;
	text-transform: uppercase;
}
hr {
	background-color: #696969;
    height: 2px;
    border: none;
}
.skills__item {
	list-style-type: none;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left ;
	margin-left: 0;
	padding-left: 30px;
}
#contacts {
	background-color: #00b8d1;
    margin-left: -400px;
	margin-right: -15%;
    padding-left: 400px;
    position: relative;
    z-index: 1
}
.contact {
	padding-inline-start:0;
	padding: 10px 0;
}
.contact__item {
	list-style-type: none;
	color: #fff;
	margin: 0;
	
}
.contact__item p {
	color: #ffffff;
	margin: 0;
	
} 
.contact__link {
	display: inline;
	color: white;
	text-decoration: none;
}
.contact__link:hover {
	color: #cdcdcd;
}
a {
	color: #ffffff;
	padding-top: 18px;
}
a:hover {
	color: #acafb1;
}
.html {
	background-image: url(../img/html.svg);
}
.css {
	background-image: url(../img/css.svg);
}
.git {
	background-image: url(../img/git.svg);
}
.js { 
	background-image: url(../img/js.svg);
}
.react {
	background-image: url(../img/react.svg);
}
.about-container {
	padding-left: 20px;
}
main ul {
	padding-inline-start: 0;
}
.main__title {
	font-size: 47px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 700;
	margin-bottom: 0;
	width: 55%;
}
.main__subtitle {
	font-size: 21px;
	margin-bottom: 70px;
	margin-top: 0;
}
h2 {
	font-size: 13px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #00b8d1;
	text-transform: uppercase;
}
h4 {
	width: 300px;
	text-transform: uppercase;
}
.about-title{
	text-transform: uppercase;
	font-size: large;
}
.about-subtitle{
	color: #ababab;
    font-size: small;
    padding-top: 10px;
}
.projects {
	list-style: none;
	max-width: 1000px;
	display: flex;
    flex-wrap: wrap;
	gap: 0px 15px;}
.projects li {
	display: flex;
	flex-direction: column;
	width: 270px;
	font-family: 'Nanum Gothic', sans-serif;
	margin-left: 0;
	text-transform: uppercase;
	text-align: center;
}
 .projects-simple{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	max-width: 355px;
}
.projects img{
	padding-top: 5px;
}
.projects img:hover {
	box-shadow: 0px 7px 36px 14px rgb(0 0 0 / 80%);
	transition: .5s;
}
footer {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding: 30px 0;
}
footer img {
	height:40px;
}
h5 {
	display: none;
}
@media screen and (max-width: 1000px) {
	
}
@media screen and (max-width: 768px) {
	.wrapper {
		flex-wrap: wrap;
	}
	#contacts {
		
		margin-right: -9%;
		
	}
	.wrapper-about {
		flex-wrap: wrap;
	}
	.header-nav {
		display: none;
	}
	.menu__burger {
        display: block;
        position:relative;
        max-width: 30px;
        height: 20px;
        left: 12.5%;
        top: 25%;
    }
    .menu__burger span{
        position: absolute;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 8px;
    }
    .menu__burger:before,
    .menu__burger:after{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .menu__burger:before{
        top: 0;
    }
    .menu__burger:after{
        bottom: 0;
    }
	.menu__burger {
		display: block;
		position: relative;
		max-width: 30px;
		height: 20px;
		left: 12.5%;
		top: 25%;
	}
	.aside {
		max-width: 100%;
	}
	main {
		max-width: 100%;
	}
	.aside__img {
		width: 50%;
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}
	.main__title {
		display: none;
	}
	.main__subtitle {
		display: none;
	}
	.name {
		display: block;
		color: #ffffff;
		position: absolute;
		font-size: 17px;
    	top: 20%;
    	left: 24%;
		text-align: center;
	}
	h2,h3 {
		text-align: center;
	}
	blockquote {
		
		margin-inline-start: 0;
		margin-inline-end: 0;
	}
}